body {
    margin: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 28px;
    max-width: 1080px;
    width: 100%;
    min-height: 660px;
    background: url("http://getwallpapers.com/wallpaper/full/0/f/b/181190.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 700px;
}

#img-display {
    max-width: 1020px;
    width: 100%;
}

.card-div {
    position: relative;
    float: left;
    margin: 10px 1px;
    padding: 10px 1px;
}

img {
    margin-top: 10px;
    padding: 15px 2px;
    height: 180px;
}

span {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: left;
    padding-left: 2px;
    font-size: 18px;
}

button {
    margin: 2px;
    padding: 10px;
    height: 42px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    background-color: hotpink;
    color: white;
    outline-style: line;
}